extends layout

block content
    div(class='login')
        div(class='login__block')
            p(class='login__block_text-crate-form active-login-block') #{createPlayerText}
            p(class='login__block_text-login-form') #{loginPlayerText}
        form(class='login__crate-form active-form')
            label Nickname
                input(class='login__crate-form_input') 
            button(class='login__crate-form_btn' value='play') play
        form(class='login__login-form')
            label Nickname
                input(class='login__login-form_input') 
            button(class='login__login-form_btn' value='play') play


//- script(src='/javascripts/login.js')


