body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#action {
  position: absolute;
  bottom: 300px;
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  column-gap: 10px;
}

#action-input {
  width: 280px;
  height: 90%;
}

#action-btn {
  width: 80px;
  height: 100%;
}
